html, body {
	margin: 0;
	padding: 0;
	font-family: Lato, Roboto, sans-serif;
}

body {
	background-color: #2e2e2e;
}

.container {
	width: 90%;
	margin: auto;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

div.card {
	border-radius: 100%;
	width: 400px;
	height: 400px;
	display: inline-block;
	position: relative;
	margin: 3%;
	max-width: 80vw;
	max-height: 80vw;
	--card-color: transparent;
	--hover-color: transparent;

}

div.card:nth-child(1) {
	--card-color: #1e90ff;
	--hover-color: #1e90ff56;
	background: url("https://picsum.photos/400");
}
div.card:nth-child(2) {
	--card-color: #ffd700;
	--hover-color: #ffd70056;
	background: url("https://picsum.photos/401");
}
div.card:nth-child(3) {
	--card-color: #438D80;
	--hover-color: #438D8056;
	background: url("https://picsum.photos/402");
}
div.card:nth-child(4) {
	--card-color: #5EFB6E;
	--hover-color: #5EFB6E56;
	background: url("https://picsum.photos/403");
}
div.card:nth-child(5) {
	--card-color: #FF2400;
	--hover-color: #FF240056;
	background: url("https://picsum.photos/404");
}
div.card:nth-child(6) {
	--card-color: #571B7E;
	--hover-color: #571B7E56;
	background: url("https://picsum.photos/405");
}

.background {
	text-align: right;
	border-radius: 100%;
	position: absolute;
	display: inline-block;
	width: 400px;
	height: 400px;
	max-width: 80vw;
	max-height: 80vw;
	background-image: linear-gradient(to right, rgba(0,0,0,0) 50%, var(--card-color) 50%);
}

div.card:hover .background {
	background-color: var(--hover-color);
	cursor: pointer;
	box-shadow: 0 4px 20px var(--hover-color);
}

span.text {
	font-size: 1em;
	display: inline-block;
	text-align: left;
	padding-left: 54%;
	vertical-align: middle;
	overflow: hidden;
	user-select: none;
}
span h3 {
	padding-top: 25%;
}
span p {
	padding-right: 20%;
}

@media screen and (max-width: 320px) {
	span.text {
			font-size: .8em;
	}
}